.DS_Store
Thumbs.db

api/.env
api/vendor/
api/node_modules/
api/storage/logs/
api/storage/framework/cache/
api/storage/framework/sessions/
api/storage/framework/testing/
api/storage/framework/views/
api/bootstrap/cache/*.php

front/node_modules/
front/dist/
front/dist-ssr/
front/.vite/
front/*.local
